
/* Basic Rules */
.switch input { 
    display:none;
}

.switch {
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-top: -27px;
    margin-bottom: 0px;
    margin-left: 5px;
    transform: translateY(50%);
    position: relative;
}
/* Style Wired */
.slider {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 5px;
    right: 14px;
    border-radius: 30px;
    box-shadow: 0 0 0 1px #777, 0 0 4px #777;
    cursor: pointer;
    border: 1px solid transparent;
    overflow: hidden;
    transition: .4s;
}
.slider:before {
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    background:#777;
    border-radius:30px;
    transform:translateX(-30px);
    transition:.4s;
}

input:checked + .slider:before {
    transform:translateX(30px);
    background:limeGreen;
}
input:checked + .slider {
    box-shadow:0 0 0 2px limeGreen,0 0 2px limeGreen;
}

/* Style Flat */
.switch.flat .slider {
 box-shadow:none;
}
.switch.flat .slider:before {
  background:#FFF;
}
.switch.flat input:checked + .slider:before {
 background:white;
}
.switch.flat input:checked + .slider {
  background:limeGreen;
}
/* The switch - the box around the slider */
/* .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
} */

/* Hide default HTML checkbox */
/* .switch input {
    opacity: 0;
    width: 0;
    height: 0;
} */

/* The slider */
/* .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #4c9e60;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4c9e60;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
} */

/* Rounded sliders */
/* .slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
} */
